bin
build
*.blend[0-9]
*.dll
deployment/*.exe
deployment/*-src
codelite/debug
codelite/release
codelite/*.mk
codelite/*.tags
codelite/*.db
codelite/Makefile
codelite/cscope*
codelite/irrlamb.workspace.*
