bin
build
*.blend[0-9]
*.dll
*.swp
deployment/*.exe
deployment/*-src
working/*.log
working/*.irr
codelite/debug
codelite/release
codelite/.codelite
codelite/Makefile
codelite/cscope*
codelite/irrlamb.workspace.*
codelite/irrlamb.mk
codelite/*.json
